.container {
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  /* transform: translateY(-50%); */
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}
.container ion-label{
  opacity: 0.5;
  font-style: italic;
}
a.text-center{
  margin-top: 0.5em;
  width: 100%;
  color:darkblue;
}
.form-button{
  width: 100%;
  margin-top: 0.7em;
}
hr{
  border-top: 1px solid black !important;
  height: 2px !important;
  display: block !important;
  
}
.md-text{
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto 40px auto;
}
.create-button{
  width: 60%;
  background-color: green;
  border-radius: 5px;
}
.header a{
  text-decoration: none;
  color:black;
}